@import "tailwindcss";

.top {
    position: relative;
height: 100vh;
}

.top .orange {
    height: 100%;
    position: absolute;
} 

#learn {
    position: relative;
}

#learn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
    z-index: -10;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: red;
}

@media screen and (max-width:768px) {
  body {
    position: relative;
}

.show {
    width: 45%;
    height: 30vh;
    background-color: #fff;
    display: grid;
    position: absolute;
    place-content: center;
    text-align: center;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    clip-path: polygon(0% 18%, 94% 18%, 100% 0%, 100% 100%, 0% 100%);
}

.first {
    margin-top: 26px;
}  
}
